body {
	background-image: url('../img/sample_overlay.png');
	background-repeat: repeat-x;
	margin: 10px 200px;
}
.header {
	width: 100%;
}
td {
	border-bottom: 1px dotted black;
	padding: 10px;
	padding-right: 50px;
}
tr td:first-child {
	font-weight: 700;
}
.table {
	float: left;
}
.image_container {
	margin-left: 100px;
    width: 20%;
	height: 295px;
}
img {
	height: 100%;
	padding: 3px;
}
div {
	display: inline-block;
}
.filmography-header{
	text-align: center;
}
.col_1 ul li a, .col_2 ul li a {
	font-style: italic;
}
.col_1{
	width: 50%;
}
li {
	line-height: 40px;
}